@using ShoesShop.DAL.Constants
@using ShoesShop.DAL.Helpers
@model List<ShoesShop.BLL.ViewModels.Role.RoleDetailModel>

@{
    Layout = null;

    var title = AppVersion.IsEnglishVersion ? "Add New User" : "Thêm người dùng";
    var required = AppVersion.IsEnglishVersion ? "This field is required." : "Trường này là bắt buộc.";
    var save = AppVersion.IsEnglishVersion ? "Save" : "Thêm";
    var username = AppVersion.IsEnglishVersion ? "Username" : "Tên tài khoản";
    var fullname = AppVersion.IsEnglishVersion ? "Full name" : "Họ tên";
    var email = AppVersion.IsEnglishVersion ? "Email" : "Địa chỉ email";
    var address = AppVersion.IsEnglishVersion ? "Address" : "Địa chỉ";
    var phoneNumber = AppVersion.IsEnglishVersion ? "Phone number" : "Số điện thoại";
    var password = AppVersion.IsEnglishVersion ? "Password" : "Mật khẩu";
    var roletext = AppVersion.IsEnglishVersion ? "Role" : "Quyền quản trị";
}

<div class="modal-header">
    <h4 class="modal-title">@title</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form id="frmSubmit" class="contact-form">
        <div class="form-group required">
            <input class="input form-control" type="text" name="Username" placeholder="@username">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group required">
            <input class="input form-control" type="text" name="FullName" placeholder="@fullname">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group required">
            <input class="input form-control" type="email" name="Email" placeholder="@email">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group required">
            <input class="input form-control" type="text" name="Address" placeholder="@address">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group required">
            <input class="input form-control" type="text" name="PhoneNumber" placeholder="@phoneNumber">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group required">
            <input class="input form-control" type="password" name="Password" placeholder="@password">
            <span class="text-danger" style="display: none;">@required</span>
        </div>

        <div class="form-group">
            <div class="col-form-label">
                @roletext:
                <div class="card-body animate-chk">
                    <div class="row">
                        <div class="col">
                            @foreach (var role in Model)
                            {
                                <label class="d-block" for="@role.Id.ToString()">
                                    <input class="checkbox_animated" value="@role.Name" name="Role" id="@role.Id.ToString()" type="checkbox"> @role.Name
                                </label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <span id="sRole" class="text-danger" style="display: none;">@required</span>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary text-center" id="btn-submit-add-new">@save</button>
</div>

<script src="~/js/application/admin/user/add-update.js"></script>