@using ShoesShop.DAL.Constants
@model ShoesShop.BLL.ViewModels.Size.SizeDetailModel

@{
    Layout = null;

    var title = AppVersion.IsEnglishVersion ? "Update Size" : "Cập nhật kích cỡ";
    var required = AppVersion.IsEnglishVersion ? "This field is required." : "Trường này là bắt buộc.";
    var save = AppVersion.IsEnglishVersion ? "Save" : "Cập nhật";
    var sizeName = AppVersion.IsEnglishVersion ? "Size Name" : "Kích cỡ";
    var existed = AppVersion.IsEnglishVersion ? "Size Name has existed" : "Kích cỡ đã tồn tại.";

}
<input type="hidden" id="existedText" value="@existed"/>
<input type="hidden" id="CategoryName" value="@Model.Name"/>

<div class="modal-header">
    <h4 class="modal-title">@title</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form id="frmSubmit" class="contact-form">
        <div class="form-group required">
            <input class="input form-control" type="text" value="@Model.Name" name="Name" placeholder="@sizeName">
            <span class="text-danger" style="display: none;">@required</span>
            <span class="text-danger" id="Existed" style="display: none;"></span>
        </div>
        <input class="input form-control" type="hidden" value="@Model.Id.ToString()" name="Id">
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary text-center" id="btn-submit-update">@save</button>
</div>

<script src="~/js/application/admin/sz/update.js"></script>