@using ShoesShop.BLL.Services.Interfaces
@using ShoesShop.DAL.Constants
@inject IIdentityService _identityService

@{
	Layout = null;
	var userManagement = AppVersion.IsEnglishVersion ? "User" : "Người Dùng";
	var productManagement = AppVersion.IsEnglishVersion ? "Product" : "Quản lý sản phẩm";
	var categoryManagement = AppVersion.IsEnglishVersion ? "Category" : "Quản lý thể loại";
	var brandManagement = AppVersion.IsEnglishVersion ? "Brand" : "Quản lý thương hiệu";
	var colorManagement = AppVersion.IsEnglishVersion ? "Color" : "Quản lý màu sắc";
	var sizeManagement = AppVersion.IsEnglishVersion ? "Size" : "Quản lý kích cỡ";
	var materialManagement = AppVersion.IsEnglishVersion ? "Material" : "Quản lý chất liệu";
	var backToHome = AppVersion.IsEnglishVersion ? "back To Home" : "Trở về trang chính";
	var promotionManagement = AppVersion.IsEnglishVersion ? "Promotion" : "Quản lý mã giảm giá";
	var orderManagement = AppVersion.IsEnglishVersion ? "Order" : "Đơn Hàng";
	var ratingManagement = AppVersion.IsEnglishVersion ? "Rating" : "Quản lý Rating";
	var systemManagement = AppVersion.IsEnglishVersion ? "System" : "Phụ";

	var user = _identityService.GetCurrentUserLogin();
}

<div class="page-main-header">
	<div class="main-header-right row">
		<div class="main-header-left d-lg-none">
			<div class="logo-wrapper">
				<a href="/Admin/Home">
					<img src="@AppConst.LogoForLight" alt="">
				</a>
			</div>
		</div>
		<div class="mobile-sidebar d-block">
			<div class="media-body text-right switch-sm">
				<label class="switch">
					<input id="sidebar-toggle" type="checkbox" checked="checked"><span class="switch-state"></span>
				</label>
			</div>
		</div>
		<div class="vertical-mobile-sidebar">
			<i class="fa fa-bars sidebar-bar"></i>
		</div>
		<div class="nav-right col left-menu-header">
			<ul class="nav-menus-left">
				<li>
					<a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
						<i data-feather="maximize"></i>
					</a>
				</li>
				@if (_identityService.IsInRoleAsync(SecurityRoles.Admin))
				{
					<li>
						<a href="/Admin/User/Index">
							<span> @userManagement</span>
						</a>
					</li>
				}
				<li>
					<a class="sidebar-header" href="/Admin/Order/Index">
						<span> @orderManagement</span>
					</a>
				</li>
				<li>
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">

							<span>@systemManagement</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/Admin/Brand/Index">@brandManagement</a>
							<a class="dropdown-item" href="/Admin/Category/Index">@categoryManagement</a>
							<a class="dropdown-item" href="/Admin/Color/Index">@colorManagement</a>
							<a class="dropdown-item" href="/Admin/Size/Index">@sizeManagement</a>
							<a class="dropdown-item" href="/Admin/Material/Index">@materialManagement</a>
						</div>
					</div>
				</li>

			</ul>
			<div class="d-xl-none mobile-toggle-left pull-right">
				<i data-feather="more-horizontal"></i>
			</div>
		</div>
		<div class="nav-right col pull-right right-menu">
			<ul class="nav-menus">
				<li>
					<form class="form-inline search-form">
						<span class="mobile-search search-icon">
							<i class="fa fa-search"></i>
						</span>
					</form>
				</li>
				<li>
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
							<span class="media user-header">
								<img class="mr-2 rounded-circle img-35" style="width: 25px; height: 25px" src="@user.Picture" alt="">
								<span class="media-body">
									<span class="f-12 f-w-600">@user.FullName</span><span class="d-block">Admin</span>
								</span>
							</span>
						</button>
						@* <div class="dropdown-menu p-0">
							<ul class="profile-dropdown">
								<li class="gradient-primary-1">
									<h6 class="mb-0">Elana Saint</h6><span>Web Designer</span>
								</li>
								<li><i data-feather="user"> </i>Profile</li>
								<li><i data-feather="message-square"> </i>Inbox</li>
								<li><i data-feather="file-text"> </i>Taskboard</li>
								<li><i data-feather="settings"> </i>Settings</li>
								<li class="hover-link" onclick="window.location.href = '/Authenticate/Logout'"><i data-feather="log-out"></i>Logout</li>
							</ul>
						</div> *@
					</div>
				</li>
				@* <li>
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
							<i data-feather="bell"></i><span class="notification badge badge-pill badge-danger f-10">2</span>
						</button>
						<div class="dropdown-menu p-0">
							<ul class="notification-dropdown">
								<li class="gradient-primary-1">
									<h6>Notifications</h6><span>You have 6 unread messages</span>
								</li>
								<li>
									<div class="media">
										<div class="notification-icons bg-success mr-3">
											<i class="mt-0" data-feather="thumbs-up"></i>
										</div>
										<div class="media-body">
											<h6>Someone Likes Your Posts</h6>
											<p class="mb-0"> 2 Hours Ago</p>
										</div>
									</div>
								</li>
								<li class="pt-0">
									<div class="media">
										<div class="notification-icons bg-info mr-3">
											<i class="mt-0" data-feather="message-circle"></i>
										</div>
										<div class="media-body">
											<h6>3 New Comments</h6>
											<p class="mb-0"> 1 Hours Ago</p>
										</div>
									</div>
								</li>
								<li class="bg-light txt-dark"><a href="#">All </a> notification</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="right_side_toggle" href="#">
						<i data-feather="message-square"></i>
					</a>
				</li>
				<li>
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
							<i data-feather="droplet"></i>
						</button>
						<div class="dropdown-menu p-0">
							<ul class="droplet-dropdown">
								<li class="gradient-primary-1 text-center">
									<h6>Grid Dashboard</h6><span>Easy Grid inside dropdown</span>
								</li>
								<li>
									<div class="row">
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="file-text"></i><span class="d-block">Content</span>
										</div>
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="activity"></i><span class="d-block">Activity</span>
										</div>
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="users"></i><span class="d-block">Contacts</span>
										</div>
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="clipboard"></i><span class="d-block">Reports</span>
										</div>
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="anchor"></i><span class="d-block">Automation</span>
										</div>
										<div class="col-sm-4 col-6 droplet-main">
											<i data-feather="settings"></i><span class="d-block">Settings</span>
										</div>
									</div>
								</li>
								<li class="text-center">
									<button class="btn btn-primary btn-air-primary">Follows Up</button>
								</li>
							</ul>
						</div>
					</div>
				</li> *@
			</ul>
		</div>
		<form class="form-inline search-full">
			<div class="form-group form-control-plaintext">
				<input type="search" placeholder="Search.."><i class="icon-close close-search"></i>
			</div>
		</form>
		<div class="d-lg-none mobile-toggle pull-right">
			<i data-feather="more-horizontal"></i>
		</div>
	</div>
</div>