@* @using Domain.Constants
@using Application.Interfaces
@inject IIdentityService IdentityService *@
@{
    Layout = null;
    var userManagement = "Quản lý người dùng";
    var productManagement = "Quản lý sản phẩm";
    var categoryManagement = "Quản lý thể loại";
    var brandManagement = "Quản lý thương hiệu";
    var backToHome = "Trở về trang chính";
    var promotionManagement = "Quản lý mã giảm giá";
    var orderManagement = "Quản lý đơn hàng";
    var ratingManagement = "Quản lý Rating";
}

<div class="page-sidebar iconcolor-sidebar" id="div_left_side_bar">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper">
            <a href="/Admin/Home">
                <img @* src="@AppConst.LogoForDark" *@ alt="">
            </a>
        </div>
    </div>
    <div class="sidebar custom-scrollbar">
        <ul class="sidebar-menu">
            <li>
            <a class="sidebar-header" href="/Admin/Home/Index">
                <i data-feather="home"></i><span>Dashboard</span>
            </a>
            @* @if (IdentityService.IsInRoleAsync(SecurityRoles.Admin))
            {
                <li>
                    <a class="sidebar-header" href="/Admin/User/Index">
                        <i data-feather="user"></i><span> @userManagement</span>
                    </a>
                </li>
            } *@
            <li>
                <a class="sidebar-header" href="/Admin/Product/Index">
                    <i data-feather="database"></i><span> @productManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/Admin/Category/Index">
                    <i data-feather="package"></i><span> @categoryManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/Admin/Brand/Index">
                    <i data-feather="settings"></i><span> @brandManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/Admin/Promotion/Index">
                    <i data-feather="target"></i><span> @promotionManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/Admin/Order/Index">
                    <i data-feather="truck"></i><span> @orderManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/Admin/Rating/Index">
                    <i data-feather="star"></i><span> @ratingManagement</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="/">
                    <i data-feather="rotate-cw"></i><span> @backToHome</span>
                </a>
            </li>

        </ul>
    </div>
</div>