@using ShoesShop.DAL.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;

    var title = AppVersion.IsEnglishVersion ? "Add New Category" : "Thêm mã giảm giá";
    var required = AppVersion.IsEnglishVersion ? "This field is required." : "Trường này là bắt buộc.";
    var save = AppVersion.IsEnglishVersion ? "Save" : "Thêm";
    var discountPercent = AppVersion.IsEnglishVersion ? "Discount Percent" : "Giảm giá (%)";
    var number = AppVersion.IsEnglishVersion ? "Please input valid number > 0" : "Vui lòng nhập số nguyên > 0";
}

<div class="modal-header">
    <h4 class="modal-title">@title</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form id="frmSubmit" class="contact-form">
        <div class="form-group required">
            <input class="input form-control" type="text" name="DiscountPercent" id="DiscountPercent" placeholder="@discountPercent">
            <span class="text-danger" style="display: none;">@required</span>
            <p class="text-danger" id="sDiscountPercent" style="display: none;">@number</p>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary text-center" id="btn-submit-add-new">@save</button>
</div>

<script src="~/js/application/admin/promotion/add-new.js"></script>